.autoComplete {
	position: relative;
}

.input {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.users {
	position: absolute;
	top: 46px;
	left: 106px;
}

.item {
	width: 256px;
	height: 40px;
	border-radius: 0;
}
