.labelWrapper {
	display: flex;
	align-items: center;
}

.passwordWrapper,
.inputWrapper,
.textareaWrapper {
	display: flex;
	align-items: center;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 8px;
	width: 256px;
	height: 40px;
	margin: 8px 0;
	margin-left: 16px;
}

.passwordVisibility {
	border: none !important;
	width: 32px;

	&:hover,
	&:active,
	&:focus {
		background-color: inherit;
		color: gray;
	}
}

.password {
	width: 100%;
	margin-right: 4px;
}

.input {
	width: 100%;
}

.textareaWrapper {
	height: auto;
}
