html,
body,
pre {
	padding: 0;
	margin: 0;
	font-family: IRANSans, sans-serif;
	direction: ltr;
	overflow-x: hidden !important;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

header,
footer,
nav,
ol,
ul {
	list-style: none;
}

pre {
	white-space: pre-line;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
